---
export interface Props {
  title: string;
  description?: string;
  keywords?: string;
}

const { title, description = "GEOTERRA - Bureau d'étude géotechnique, situé en Vendée, expert en analyse de sols et fondations", keywords = "géotechnique, étude de sol, fondations, bureau d'étude, Vendée, Loire Atlantique, rénovation, BTP, argile, étude" } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
      <meta name="google-site-verification" content="iUFJyQvRQy-xC97ZLoOhV88z0RQJd2EZv2bBr3wiAwg" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/logo.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/logo.png" />

    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-white">
    <slot />
  </body>
</html>